# Byte-compiled / optimized / DLL files
__pycache__/
.env*
scripts/audio_tracks/upload/*
scripts/audio_tracks/download/*
venv

# Testing
.pytest_cache

# ec2 private key
*.pem

# pgadmin 
data/pgadmin*

# migrations dir
migrations*

# notes-to-self
TODOs