# Byte-compiled / optimized / DLL files
__pycache__/
.env*
scripts/audio_tracks/*
venv

# Testing
.pytest_cache

# ec2 private key
*.pem

# TODO: ~/.aws/config req'd
scripts/seeders/prod*

# pgadmin 
data/pgadmin*
