# Byte-compiled / optimized / DLL files
__pycache__/
*.DS_Store

# Environments
.env*
venv

# Audio files
scripts/audio_tracks*
download/*

# Flask 
instance/

# Testing
.pytest_cache

# ec2 private key
*.pem

data/pgadmin*

migrations*

# notes-to-self
TODOs